@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Silkscreen&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap%27');

* {
   margin: 0;
   border: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: #fff;
   background-color: rgb(7, 2, 21);
   background-size: cover;
   background-repeat: no-repeat;
   font-family: "Poppins", sans-serif;
   /* font-family: 'Inter', sans-serif; */
}

h2{
   text-align: center;
   font-size: 2rem;
   text-transform: uppercase;
}

.pergunta{
   font-size: 1.4rem;
   margin: 2rem 0 .5rem 0;
   font-weight: bolder;
}

label{
   text-align:justify;
   font-size: 1.2rem;
}

#btn{
   font-family: "Poppins", sans-serif;
   display: block;
   margin: 1.4rem auto;
   font-size: 1.3rem;
   font-weight: bolder;
   padding: 1.3rem;
   border-radius: 25px;
   color: rgb(7, 2, 21);
}

#btn:hover{
   transform: scale(1.1);
   cursor: pointer;
}

.nav-link {
   text-decoration: none;
   text-transform: uppercase;
}

#btn2{
   font-family: "Poppins", sans-serif;
   display: block;
   margin: 1.4rem auto;
   font-size: 1.3rem;
   font-weight: bolder;
   padding: 1.3rem;
   border-radius: 25px;
   color: rgb(7, 2, 21);
   display: none;
}

#btn2:hover{
   transform: scale(1.1);
   cursor: pointer;
}

form{
   border: 1px solid transparent;
   box-shadow: 5px 5px 30px white;
   border-radius: 17px;
   padding: 2rem 5rem 2rem 5rem;
   width: 110vh;
   margin: 2rem auto;
}

@media screen and (max-width: 912px){
   h2{
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
   }
   
   .pergunta{
      font-size: 1.6rem;
      margin: 2rem 0 .5rem 0;
      font-weight: bolder;
   }
   
   label{
      text-align:justify;
      font-size: 1.4rem;
   }
   
   #btn{
      font-family: "Poppins", sans-serif;
      display: block;
      margin: 1.4rem auto;
      font-size: 1.3rem;
      font-weight: bolder;
      padding: 1.3rem;
      border-radius: 25px;
      color: rgb(7, 2, 21);
   }
   
   #btn:hover{
      transform: scale(1);
      cursor: none;
   }
   
   #btn2{
      font-family: "Poppins", sans-serif;
      display: block;
      margin: 1.4rem auto;
      font-size: 1.3rem;
      font-weight: bolder;
      padding: 1.3rem;
      border-radius: 25px;
      color: rgb(7, 2, 21);
      display: none;
   }
   
   #btn2:hover{
      transform: scale(1);
      cursor: none;
   }
   
   form{
      border: 1px solid transparent;
      box-shadow: 5px 5px 30px white;
      border-radius: 17px;
      padding: 2rem 5rem 2rem 5rem;
      width: 60vh;
      margin: 2rem auto;
   }
}

@media screen and (max-width: 768px){
   h2{
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
   }

   #titulo{
      font-size: 1.3rem;
   }
   
   .pergunta{
      font-size: 1.2rem;
      margin: 2rem auto .5rem auto;
      font-weight: bolder;
   }
   
   label{
      text-align:center;
      font-size: 1rem;
   }
   
   #btn{
      font-family: "Poppins", sans-serif;
      display: block;
      margin: 1.4rem auto;
      font-size: 1.1rem;
      font-weight: bolder;
      padding: 1.1rem;
      border-radius: 20px;
      color: rgb(7, 2, 21);
   }
   
   #btn:hover{
      transform: scale(1);
      cursor: none;
   }
   
   #btn2{
      font-family: "Poppins", sans-serif;
      display: block;
      margin: 1.4rem auto;
      font-size: 1.1rem;
      font-weight: bolder;
      padding: 1.1rem;
      border-radius: 20px;
      color: rgb(7, 2, 21);
      display: none;
   }
   
   #btn2:hover{
      transform: scale(1);
      cursor: none;
   }
   
   form{
      border: 1px solid transparent;
      box-shadow: 5px 5px 30px white;
      border-radius: 17px;
      padding: 2rem .5rem 2rem .5rem;
      width: 55vh;
      margin: 2rem auto;
   }
}